.hero-section {
  font-family: Tajawal;
}

.hero-images {
  height: 360px;
}

.hero-img-1 {
  width: 62%;
  height: 75%;
  object-fit: cover;
  top: 0;
  left: 0;
  transform: rotate(-2deg);
  z-index: 2;
}

.hero-img-2 {
  width: 62%;
  height: 75%;
  object-fit: cover;
  bottom: 0;
  left: 22%;
  transform: rotate(4deg);
  z-index: 1;
}



@media (max-width: 992px) {
  .hero-images {
    height: 300px;
  }

  .hero-img-1,
  .hero-img-2 {
    width: 70%;
    height: 70%;
  }
}


